

body {background-color: rgb(160, 117, 7);}
  
  h1 {background-color: black  ;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        font-size: 50px
        ;font-style: oblique; color: rgb(192, 181, 181); 
        
        margin-left:200px ;
           }
  
h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px; 
            
margin-left:250px;
color:silver;
background-color: black;}
            
img { box sizing:500px;
           
     margin-left:200px;
                 }
               
li{margin-left:200px;
margin-bottom:12px; color: silver}

button {margin-left:200px;
  margin-bottom:12px ; size: 60px }   
